{% extends 'index.html' %}

{% block title %}
Information about transactions
 {% endblock %}

 {% block body %}
<table class="table table-striped table-sm">
  <tbody>
      <a type= "button" class="btn btn-primary" href="{% url 'create_transact' %}">Create new transaction</a>
      <hr>
      <h2 class="display-6 text-center mb-4">Transactions table</h2>
{% for transact in list_of_transact %}
<tr>
  <th> {{ transact.id }}</th>
   <td>{{transact.user_id}}</td>    
   <td>{{ transact.amount }}</td>
   <td>{{ transact.date }}</td>
   <td><a type= "button" class="btn btn-primary" href="{% url 'transact_view' transact.id %}">Details</a>
   <a type= "button" class="btn btn-primary" href="{% url 'edit_transact' transact.id %}">Edit</a>
   <a type= "button" class="btn btn-danger" href="{% url 'delete_transact' transact.id %}">Delete</a></td>
 </tr>
{% endfor %}
</tbody>
</table>
  {% endblock %}
